<link rel="stylesheet" type="text/css" href="../icomoon/style.css">
<div class="footnote">
	<center>
		<div class="" id="contactIcons">

			<a href="mailto:catchshivangi@gmail.com" target="_top" id="emailId" data-toggle="tooltip" title="Email me">
				<i class="icon-mail4" aria-hidden="true"></i>
			</a>&nbsp;
			<a href="https://in.linkedin.com/in/shivangi-das-49736058" target="_blank" id="linkedIn" data-toggle="tooltip" title="LinkedIn">
				<i class="icon-linkedin" aria-hidden="true"></i>
			</a>&nbsp;
			<a href="https://github.com/shivangidas" target="_blank" id="github" data-toggle="tooltip" title="Github">
				<i class="icon-github" aria-hidden="true"></i>
			</a>&nbsp;
			<a href="https://www.facebook.com/shivangi.das.710" target="_blank" id="facebook" data-toggle="tooltip" title="Facebook">
				<i class="icon-facebook2" aria-hidden="true"></i>
			</a>
			<a href="https://twitter.com/iShivangiDas" target="_blank" id="twitter" data-toggle="tooltip" title="Twitter">
				<i class="icon-twitter" aria-hidden="true"></i>
			</a>
			<a href="http://shivangidas.blogspot.in/" target="_blank" id="blogger" data-toggle="tooltip" title="Blogger">
				<i class="icon-blogger2" aria-hidden="true"></i>
			</a>
			<a href="https://codepen.io/ShivangiDas7/" target="_blank" id="codepen" data-toggle="tooltip" title="CodePen">
				<i class="icon-codepen" aria-hidden="true"></i>
			</a>
		</div>
		<div class="" id="copyright">
			<a href="http://shivangidas.herokuapp.com" target="_blank" data-toggle="tooltip" title="Check out my website">
				<span>Shivangi Das</span>&nbsp;</a>
			<span class="glyphicon glyphicon-copyright-mark"></span>
			<span>2016-18</span>
		</div>
	</center>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		"use strict";
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>