<div class="container-fluid">
    <header>
        <div class="col-sm-6">
            <h4>Library App</h4>
        </div>
        <div class="col-sm-6">
            <div style="float: right;">
                <a href="/logout">Log Out</a>
            </div>
        </div>
    </header>
</div>