<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <h3>Library App</h3>
        </div>
        <div class="col-xs-6">
            <div style="float:right;">
                <a href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
            </div>
        </div>
    </div>

</div>